---
export const prerender = true
import crossWhite50 from '~/features/testimonials_section/cross_white_50.png'
import chinChinChino_white_500x156 from '~/features/testimonials_section/chinChinChino_white_500x156.png'
import ava_avatar_100x100 from '~/features/testimonials_section/ava_avatar_100x100.png'
import wenchi_avatar_100x100 from '~/features/testimonials_section/wenchi_avatar_100x100.png'
import AstroImage from '~/layouts/AstroImage.astro'
---

<div>
	<div class="mx-auto max-w-2xl text-center">
		<p class="font-Handrawn mt-6 mb-4 text-xl font-bold italic leading-snug text-brand_yellow sm:text-4xl text-pretty max-w-md mx-auto">
			Transforming Lost Opportunities into Real Growth and Profit
		</p>
		<h2 class="text-pretty text-2xl font-black leading-snug sm:text-4xl sm:leading-tight">
			Where 'No Code' Falls Short, RPTrainor Excels
		</h2>
		<p
			class="font-Handrawn mt-6 text-xl font-bold italic leading-snug text-brand_yellow sm:text-4xl"
		>
			See For Yourself&#8230;
		</p>
	</div>
	<section class="py-4 sm:py-12">
		<div class="">
			<div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
				<div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
					<div class="flex w-fit flex-nowrap items-center gap-0">
						<AstroImage
							class="h-12 w-12"
							src={crossWhite50}
							alt="Cornerstone Integrative Psychiatry"
						/>
						<div class="flex h-full flex-col items-stretch rounded px-1 transition-colors">
							<h1 class="m-0 grow p-0 text-left text-2xl sm:text-3xl font-bold leading-none">Cornerstone</h1>
							<p class="m-0 p-0 text-sm leading-none text-white/60">Integrative Psychiatric</p>
						</div>
					</div>
					<figure class="mt-10 flex flex-auto flex-col justify-between">
						<blockquote class="grow text-lg leading-8 text-white">
							<p>
								“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu
								praesent at a. Ornare arcu gravida natoque erat et cursus tortor consequat at.
								Vulputate gravida sociis enim nullam ultricies habitant malesuada lorem ac.
								Tincidunt urna dui pellentesque sagittis.”
							</p>
						</blockquote>
						<figcaption class="mt-10 flex h-20 items-center gap-x-6">
							<AstroImage
								class="h-14 w-14 rounded-full bg-gray-50"
								src={wenchi_avatar_100x100}
								alt="Wenchi Fan"
								height={56}
								width={56}
							/>
							<div class="text-base">
								<div class="font-semibold text-white">Wenchi Fan</div>
								<div class="mt-1 text-white/60">CEO of Cornerstone Integrative Psychiatry</div>
							</div>
						</figcaption>
					</figure>
				</div>
				<div
					class="flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20"
				>
					<AstroImage
						class="h-12"
						src={chinChinChino_white_500x156}
						alt="ChinChinChino"
						height={48}
						width={154}
					/>
					<figure class="mt-10 flex flex-auto flex-col justify-between">
						<blockquote class="grow text-lg leading-8 text-white">
							<p>
								“Excepteur veniam labore ullamco eiusmod. Pariatur consequat proident duis dolore
								nulla veniam reprehenderit nisi officia voluptate incididunt exercitation
								exercitation elit. Nostrud veniam sint dolor nisi ullamco.”
							</p>
						</blockquote>
						<figcaption class="mt-10 flex h-20 gap-x-6">
							<AstroImage
								class="h-14 w-14 rounded-full bg-gray-50"
								src={ava_avatar_100x100}
								height={56}
								width={56}
								alt="Ana Lin"
							/>
							<div class="text-base">
								<div class="font-semibold text-white">Ana Lin</div>
								<div class="mt-1 text-white/60">CEO of ChinChinChino</div>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>
</div>
