---
export const prerender = true
import SectionContainer from '~/layouts/SectionContainer.astro'
import crossWhite50 from '~/features/testimonials_section/cross_white_50.png'
import AstroImage from '~/layouts/AstroImage.astro'
---

<SectionContainer>
	<h2
		class="mt-6 text-center font-extrabold leading-9 text-white sm:leading-10"
	>
		Businesses That Can't Afford to Lose Customers Because of 'No Code' Tools Use RPTRAINOR
	</h2>
	<p class="text-center font-medium italic text-brand_yellow handwritten">
		See For Yourself&#8230;
	</p>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<AstroImage
			class="mx-auto h-12 w-12"
			src={crossWhite50}
			alt="Cornerstone Integrative Psychiarty"
		/>
		<figure class="mt-10">
			<blockquote
				class="text-center text-xl font-semibold leading-8 text-white sm:text-2xl sm:leading-9"
			>
				<p>
					“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa
					sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”
				</p>
			</blockquote>
			<figcaption class="mt-10">
				<img
					class="mx-auto h-10 w-10 rounded-full"
					src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
					alt=""
				/>
				<div class="mt-4 flex items-center justify-center space-x-3 text-base">
					<div class="font-semibold text-white">WenChi Fan</div>
					<svg
						viewBox="0 0 2 2"
						width="3"
						height="3"
						aria-hidden="true"
						stroke-width="3"
						class="fill-white"
					>
						<circle cx="1" cy="1" r="1"></circle>
					</svg>
					<div class="text-white/80">CEO of Cornerstone Integrative Psychiarty</div>
				</div>
			</figcaption>
		</figure>
	</div>
</SectionContainer>
