---
export const prerender = true
import AstroImage from '~/layouts/AstroImage.astro'
import LargeScores from '~/images/LargeScores.webp'
---
<div>
  <AstroImage src={LargeScores} alt="Ryan Trainor" width={570} height={629} class="object-cover" loading="eager" />
</div>