---
export const prerender = true
import AstroVideo from '~/layouts/AstroVideo.astro'
import ScoresLarge390x430 from '~/images/ScoresLarge390x430.webp'
---

<div style="position: relative;" class="aspect-video">
	<AstroVideo
		src="https://customer-upt6suru8uvabbhb.cloudflarestream.com/111c8eef0515aa891995b827b53f650e/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-upt6suru8uvabbhb.cloudflarestream.com%2F111c8eef0515aa891995b827b53f650e%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false"
		style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
		allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
		allowfullscreen="true"
		title="Lighthouse test or Cornerstone website with straight 100 scores on Google Lighthouse test"
	/>
</div>
