---
export const prerender = true
import AstroImage from '~/layouts/AstroImage.astro'
import LargeScores from '~/images/LargeScores.webp'
---

<div>
	<AstroImage src={LargeScores} alt="Ryan Trainor" class="object-cover" loading="eager" />
</div>
