---
export const prerender = true
import AstroImage from '~/layouts/AstroImage.astro'
import ScoresLarge390x430 from '~/images/ScoresLarge390x430.webp'
---

<div>
	<AstroImage
		src={ScoresLarge390x430}
		width={390}
		height={430}
		alt="Ryan Trainor"
		class="object-cover"
		loading="eager"
	/>
</div>
