---
import Layout from '~/layouts/Layout.astro'
import Hero from '~/features/hero_section/Hero.astro'
import TestimonialSingle from '~/features/testimonials_section/TestimonialSingle.astro'
import WhySection from '~/features/why_section/WhySection.astro'
import DifferentiationSection from '~/features/differentiation_section/DifferentiationSection.astro'
import FooterSection from '~/features/footer_section/FooterSection.astro'
import FloatingSection from '~/features/floating_section/FloatingSection.astro'
---

<Layout
	title="RPTrainor: High-Performance Websites Engineered to Boost Your Sales"
	description="Unlock the full potential of your online presence with RPTrainor. Our expertise in crafting websites that score perfect 100s on Google Lighthouse ensures unparalleled speed, SEO, and user experience, helping you sell more."
>
	<main class="">
		<Hero />
		<div
			class="flex flex-col items-center justify-center gap-4 sm:mt-8 sm:gap-8 md:mt-12 md:gap-12"
		>
			<FloatingSection />
			<TestimonialSingle />
			<WhySection />
			<DifferentiationSection />
			<FooterSection />
		</div>
	</main>
</Layout>
