---
import AstroImage from "~/layouts/AstroImage.astro";
import Layout from "~/layouts/Layout.astro";
import LargeScores from "~/images/LargeScores.webp";
---

<Layout title='RPTRAINOR | Expert in Software Engineering and Startup Growth'>
  <main class='flex flex-col gap-4 md:grid md:grid-cols-12'>
    <div class='md:col-span-5'>
      <h1 class='text-5xl leading-tight text-left'>
        Software Engineer <br />&amp; Google Core Web Vitals Expert
      </h1>
      <h2 class='text-lg sm:text-xl font-bold'>
        Over 8 years at the forefront of startup development, often as a
        pioneering engineering hire
      </h2>
    </div>
    <div class='md:col-span-7 flex flex-col gap-4'>
      <AstroImage
        src={LargeScores}
        alt='Ryan Trainor'
        height={500}
        width={500}
        loading="eager"
        />
    </div>
  </main>
</Layout>
