---
import { Image } from 'astro:assets'

import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import wenchi_avatar from '../components/wenchi_avatar.jpeg'
---

<Layout
	title="RPTrainor – Empower Your Influence with Custom Branded Apps"
	description="Join RPTrainor in transforming your large audience into a thriving business. We build and maintain custom branded apps tailored to enhance your brand visibility. Start with just a $500 retainer and partner with us for lasting success—paying only 30% equity."
>
	<GridContainer>
		<div class="col-span-3 col-start-1 row-start-1 w-full place-content-end">
			<div class="flex flex-col items-center text-center">
				<h1
					class="max-w-5xl text-balance text-3xl font-bold leading-[1.1] tracking-tight text-white xs:text-4xl"
				>
					Expand Your Empire with a Custom Branded App<span class="underline decoration-contrast"
						>landing pages and strategic campaigns done-for-you</span
					>
				</h1>
				<h2
					class="max-w-prose text-balance pt-2 text-left text-xs font-semibold leading-tight text-gray-200 xs:pt-4 xs:text-lg sm:text-center sm:text-xl md:text-2xl"
				>
					Tired of earning just 30% from advertisements? Start owning your success—sell your brand,
					not someone else's. Partner with us to launch your own branded app, tailored to elevate
					your business and enhance your brand visibility. Discover how much more you could achieve:
				</h2>
			</div>
		</div>
		<div class="col-span-3 col-start-1 row-start-2 place-items-end">
			<form class="mx-auto flex h-full w-full max-w-fit flex-col gap-4" action="/results">
				<div>
					<div class="flex gap-2">
						<label for="web-page-url" class="sr-only">Landing page URL</label>
						<input
							id="web-page-url"
							name="web_page_url"
							autocomplete="url"
							required
							class="min-w-0 flex-auto rounded-xl border-0 bg-white/10 px-3.5 py-2 text-lg text-white placeholder-white/60 shadow-sm outline-none ring-1 ring-inset ring-black focus:ring-2 focus:ring-inset focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white sm:leading-6"
							placeholder="https://example.com/landing-page"
							type="text"
							aria-required="true"
							aria-label="Landing page URL"
							autofocus
						/>
						<button
							type="submit"
							class="flex-none truncate rounded-xl bg-white px-3.5 py-2.5 text-lg font-semibold text-background shadow-sm hover:animate-hover-pop hover:bg-gray-100 focus:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
							aria-label="Calculate impact"
						>
							Find out
						</button>
					</div>
					<small class="mt-2 text-sm text-gray-200">
						Enter the URL of your key conversion page and discover the potential uplift in your ROI.
					</small>
				</div>
			</form>
		</div>

		<div class="col-span-3 col-start-1 row-start-3">
			<section class="">
				<figure class="mx-auto max-w-3xl">
					<p class="sr-only">5 out of 5 stars</p>
					<div class="flex gap-x-1 text-contrast">
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
					</div>
					<blockquote class="mt-2 flex flex-col gap-2">
						<p class="text-sm text-white">
							“Ryan is very attentive and detailed-oriented! As a new business owner, I have had a
							lot of questions and concepts in my mind about a website, and he has been very patient
							to answer all of them and give some recommendations.
							<p class="text-sm text-white">
								Ryan is also very responsive and easy to communicate with. Most importantly, he is
								professional in what he does and provides many options instead of just going through
								a template! I highly recommend their service!"
							</p>
						</p>
						<figcaption class="mt-2 flex items-center gap-x-4">
							<Image
								class="h-6 w-6 rounded-full bg-gray-50"
								src={wenchi_avatar}
								alt="Wenchi Fan"
								height={24}
								width={24}
							/>
							<div class="text-xs">
								<div class="font-semibold text-gray-100">WenChi Fan - CEO of Cornerstone</div>
							</div>
						</figcaption>
					</blockquote>
				</figure>
			</section>
		</div>
	</GridContainer>
</Layout>
