---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import ryan from '../components/ryan.jpeg'

import { Posts } from '../constants/Posts.ts'
import Frame from '../components/Frame.astro'
---

<Layout
	title="Ryan Patrick Trainor: Experienced Software Engineer | Native & Web App Specialist"
	description="Experienced startup veteran with 8+ years in software engineering. Specializing in Laravel, JavaScript/TypeScript, and building apps from the ground up for startups and small businesses. Let’s create your next big thing."
>
	<Frame>
		<div class="col-span-3 col-start-1 row-span-1 row-start-1 place-content-end text-right">
			<h1 class="text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl">
				Experienced Software Engineer
			</h1>
		</div>

		<div class="col-span-2 col-start-1 row-span-1 row-start-2 place-content-start text-right">
			<h2 class="text-balance text-2xl font-medium sm:text-3xl md:text-4xl">
				Ryan Patrick Trainor
			</h2>
		</div>
		<div class="col-span-1 col-start-3 row-span-1 row-start-2 place-content-start">
			<Image src={ryan} alt="Ryan Trainor" class="aspect-square h-auto w-24 rounded" />
		</div>
	</Frame>

	{
		Posts.map((post, index) => {
			const isOdd = index % 2 === 0
			return (
				<a class="cursor-pointer" href={`/${post.slug}`}>
					<Frame>
						<div
							class={`${isOdd ? 'col-span-3 row-start-1' : 'col-span-1 row-start-2'} col-start-1 row-span-1 place-content-end text-right`}
						>
							<h2 class="text-balance text-2xl font-medium sm:text-3xl md:text-4xl">{post.date}</h2>
						</div>

						<div
							class={`${!isOdd ? 'col-span-3 row-start-1' : 'col-span-1 row-start-2'} col-start-1 row-span-1 place-content-start text-right`}
						>
							<h1 class="text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl">{post.title}</h1>
						</div>
					</Frame>
				</a>
			)
		})
	}
</Layout>
