---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Welcome to Astro.'>
  <main class='flex flex-col gap-4'>
		<div>
			<h1 class='text-5xl leading-tight text-left'>
				Software Engineer <br />&amp; Startup Specialist
			</h1>
			<h2 class='text-lg sm:text-xl font-bold'>
				Over 8 years at the forefront of startup development,<br /> often as a pioneering
				engineering hire
			</h2>
		</div>
  </main>
</Layout>
