---
import Layout from '~/layouts/Layout.astro'
import Hero from '~/features/hero_section/Hero.astro'
import TestimonialSingle from '~/features/testimonials_section/TestimonialSingle.astro'
import WhySection from '~/features/why_section/WhySection.astro'
---

<Layout
	title="Boost Conversions with Straight 100 Scores on Google Lighthouse: Expert Web Solutions & Insightful Analytics"
	description="Elevate your online business with RPTrainor's custom-engineered web solutions. Transition from 'no code' limitations to high-performance landing pages designed to maximize conversions and sales with top Google Lighthouse scores. Experience the difference that expertly optimized web pages can make in achieving your business goals."
>
	<main class="flex flex-col items-center justify-center gap-4 sm:gap-8 md:gap-12">
		<Hero />
		<TestimonialSingle />
		<WhySection />
		<!-- <section class="grid grid-cols-1 place-content-center place-items-center sm:grid-cols-2">
			<div class="flex flex-col items-center justify-center gap-4">
				<h2>The Cost of Slow Performance</h2>
				<p>
					Slow websites are a major turn-off for users. A 1-second delay in page load time can
					result in a 7% reduction in conversions. This means that if an e-commerce site is making
					$100,000 per day, a 1-second page delay could potentially cost $2.5 million in lost sales
					every year.
				</p>
			</div>
			<div class="flex flex-col items-center justify-center gap-4"></div>
		</section> -->
	</main>
</Layout>
