---
import { Image } from 'astro:assets'

import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import wenchi_avatar from '../components/wenchi_avatar.jpeg'
---

<Layout
	title="RPTrainor: Turn Your Influence into a Thriving Business with Custom Apps"
	description="Join RPTrainor in transforming your large audience into a thriving business. We build and maintain custom branded apps tailored to enhance your brand visibility. Start with just a $500 retainer and partner with us for lasting success—paying only 30% equity."
>
	<GridContainer>
		<div class="col-span-3 col-start-1 row-start-1 w-full place-content-end">
			<h1
				class="mx-auto max-w-prose text-balance text-left text-4xl font-bold tracking-tight text-white sm:text-center sm:text-5xl"
			>
				Transforming Influencers into Entrepreneurs with Custom App Development
			</h1>
			<p
				class="mx-auto mt-6 max-w-prose text-balance text-left text-lg leading-tight text-gray-300 sm:text-center"
			>
				Leverage your large audience into a profitable venture with RPTrainor. We specialize in
				creating and managing custom branded apps to boost your brand visibility. Begin with a
				simple $500 retainer, and achieve greater success with only a 30% equity partnership.
				Discover how to elevate your brand today!
			</p>
		</div>

		<div class="col-span-3 col-start-1 row-start-2 place-items-end">
			<div class="flex items-center justify-center gap-x-6">
				<a
					href="https://book.stripe.com/5kA9AK84Ia9KcLu4gm"
					aria-describedby="retainer"
					class="rounded-xl bg-white px-3.5 py-2.5 text-sm font-semibold text-background shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast"
					>Start Your Project Now</a
				>
				<a
					href="/process"
					class="rounded-xl bg-none px-3.5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:animate-hover-pop hover:bg-white/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast"
					>How It Works<span aria-hidden="true">→</span></a
				>
			</div>
		</div>

		<div class="col-span-3 col-start-1 row-start-3">
			<section class="">
				<figure class="mx-auto max-w-3xl">
					<p class="sr-only">5 out of 5 stars</p>
					<div class="flex gap-x-1 text-contrast">
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
						<svg
							class="h-5 w-5 flex-none"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
								clip-rule="evenodd"></path>
						</svg>
					</div>
					<blockquote class="mt-2 flex flex-col gap-2">
						<p class="text-sm italic text-white sm:text-lg">
							“Ryan is very attentive and detailed-oriented! [&#8230;] he has been very patient to
							answer all of them and give some recommendations. Ryan is also very responsive and
							easy to communicate with. Most importantly, he is professional in what he does and
							provides many options instead of just going through a template! I highly recommend
							their service!"
						</p>
						<figcaption class="mt-2 flex items-center gap-x-4">
							<Image
								class="h-6 w-6 rounded-full bg-gray-50"
								src={wenchi_avatar}
								alt="Wenchi Fan"
								height={24}
								width={24}
							/>
							<div class="text-xs">
								<div class="font-semibold text-gray-100">WenChi Fan - CEO of Cornerstone</div>
							</div>
						</figcaption>
					</blockquote>
				</figure>
			</section>
		</div>
	</GridContainer>
</Layout>
