---
import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import Header from '../layouts/Header.astro'
import Button from '../components/Button.astro'
import WhoIsRyan from '../components/WhoIsRyan.astro'
---

<Layout
	title="RPTrainor: Turn Your Influence into a Thriving Business with Custom Apps"
	description="Join RPTrainor in transforming your large audience into a thriving business. We build and maintain custom branded apps tailored to enhance your brand visibility. Start with just a $500 retainer and partner with us for lasting success—paying only 30% equity."
>
	<div class="flex h-screen snap-y snap-mandatory flex-col overflow-y-scroll">
		<GridContainer>
			<Header />
			<div
				class="col-span-3 col-start-1 row-start-2 px-4 pb-4 sm:col-span-1 sm:col-start-2 sm:px-0 short:col-span-3 short:col-start-1 short:px-4"
			>
				<h1
					class="max-w-2xl text-balance text-left text-2xl font-bold leading-tight tracking-tight text-white xs:text-3xl short:text-xl tall:text-4xl"
				>
					Transforming Creators into Entrepreneurs with Custom App Development
				</h1>
				<p
					class="mt-4 block max-w-2xl text-balance text-left text-base leading-tight text-gray-300 xs:mt-8 xs:text-lg short:mt-4 short:text-base extra-short:hidden tall:text-xl"
				>
					Leverage your large audience into a profitable venture with RPTrainor. We specialize in
					creating and managing custom branded apps to boost your brand visibility. Begin with a
					simple $500 retainer, and achieve greater success with only a 30% equity partnership.
					Discover how to elevate your brand today!
				</p>
			</div>

			<div
				class="col-span-3 col-start-1 row-start-3 px-4 sm:col-span-1 sm:col-start-2 sm:px-0 short:col-span-3 short:col-start-1 short:px-4"
			>
				<div class="flex items-center justify-between gap-x-2 xs:gap-x-4">
					<a
						onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rptrainor/initial-strategy-session?hide_gdpr_banner=1&background_color=010203&text_color=ffffff&primary_color=d4af37'});return false;"
						aria-describedby="retainer"
						class="rounded-xl bg-white px-3.5 py-2.5 short:px-2 short:py-1 text-sm font-semibold text-background shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast tall:text-lg"
						>Reserve your spot</a
					>
					<Button />
				</div>
			</div>
		</GridContainer>
		<GridContainer>
			<WhoIsRyan />
		</GridContainer>
	</div>
</Layout>
