---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../layouts/Header.astro'
import ryan from '../components/ryan.jpeg'
---

<Layout
	title="Ryan Trainor: Expert Laravel & JavaScript/TypeScript Engineer | Native & Web App Specialist"
	description="Experienced startup veteran with 8+ years in software engineering. Specializing in Laravel, JavaScript/TypeScript, and building apps from the ground up for startups and small businesses. Let’s create your next big thing."
>
	<div class="px-y flex h-screen flex-col">
		<Header />
		<div class="grid grid-cols-2 text-white p-4 h-auto gap-4 pb-14 md:pb-4 md:pr-14">
			<div class="col-span-1">
				<h1 class="text-2xl font-black landscape:text-4xl">Ryan Patrick Trainor</h1>
			</div>

			<div class="col-span-1">
				<Image
					class="aspect-square w-full rounded-xl object-contain p-0"
					width={512}
					height={512}
					alt="Ryan Trainor"
					src={ryan}
				/>
			</div>

			<div class="col-span-2">
				<p class="text-lg landscape:text-xl font-medium">
					Experienced startup veteran with 8+ years in software engineering. Specializing in Laravel, JavaScript/TypeScript, and building apps from the ground up for startups and small businesses. Let’s create your next big thing.
				</p>
			</div>
		</div>
	</div>
</Layout>
