---
import { Image } from 'astro:assets'

import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import ryan from '../components/ryan.jpeg'
---

<Layout
	title="RPTrainor Pricing – Your Pathway to Business Ownership with Custom Branded Apps"
	description="Start with a simple $500 retainer at RPTrainor and step into the role of a business owner with just a 30% equity share. Our dedicated team builds and manages your custom app, ensuring your brand not only grows but thrives. See how our unique pricing model paves the way for your success."
>
	<GridContainer>
		<div class="col-span-3 col-start-1 row-start-1 w-full place-content-end">
			<div class="flex flex-col items-center text-center">
				<h1
					class="text-balance text-3xl font-bold leading-[1.1] tracking-tight text-white sm:text-5xl"
				>
					Transparent Partnership Terms for Innovative Creators
				</h1>
				<h2
					class="max-w-prose text-pretty pt-2 text-left text-xs font-semibold leading-tight text-gray-200 xs:pt-4 xs:text-lg sm:text-lg lg:text-xl"
				>
					Start with a $500 retainer and embark on a journey to build your branded app together. Our
					success is tied to yours—our partnership thrives as we take only a 30% equity share,
					focusing on maximizing your app's and brand's potential.
				</h2>
			</div>
		</div>

		<div class="col-span-3 grid grid-cols-phi gap-4 p-0">
			<div class="col-span-3 flex flex-col gap-4 sm:col-span-2">
				<div class="flex items-center gap-x-4">
					<h4 class="flex-none text-xs font-semibold leading-6 text-white">What’s included</h4>
					<div class="h-px flex-auto bg-gray-100"></div>
				</div>
				<div class="space-y-4">
					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 576 512"
								><path
									d="M312 24V34.5c6.4 1.2 12.6 2.7 18.2 4.2c12.8 3.4 20.4 16.6 17 29.4s-16.6 20.4-29.4 17c-10.9-2.9-21.1-4.9-30.2-5c-7.3-.1-14.7 1.7-19.4 4.4c-2.1 1.3-3.1 2.4-3.5 3c-.3 .5-.7 1.2-.7 2.8c0 .3 0 .5 0 .6c.2 .2 .9 1.2 3.3 2.6c5.8 3.5 14.4 6.2 27.4 10.1l.9 .3c11.1 3.3 25.9 7.8 37.9 15.3c13.7 8.6 26.1 22.9 26.4 44.9c.3 22.5-11.4 38.9-26.7 48.5c-6.7 4.1-13.9 7-21.3 8.8V232c0 13.3-10.7 24-24 24s-24-10.7-24-24V220.6c-9.5-2.3-18.2-5.3-25.6-7.8c-2.1-.7-4.1-1.4-6-2c-12.6-4.2-19.4-17.8-15.2-30.4s17.8-19.4 30.4-15.2c2.6 .9 5 1.7 7.3 2.5c13.6 4.6 23.4 7.9 33.9 8.3c8 .3 15.1-1.6 19.2-4.1c1.9-1.2 2.8-2.2 3.2-2.9c.4-.6 .9-1.8 .8-4.1l0-.2c0-1 0-2.1-4-4.6c-5.7-3.6-14.3-6.4-27.1-10.3l-1.9-.6c-10.8-3.2-25-7.5-36.4-14.4c-13.5-8.1-26.5-22-26.6-44.1c-.1-22.9 12.9-38.6 27.7-47.4c6.4-3.8 13.3-6.4 20.2-8.2V24c0-13.3 10.7-24 24-24s24 10.7 24 24zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Own Your Platform:&nbsp;<span class="font-medium"
									>Shift from earning via influencer marketing to owning and promoting your business
									with a bespoke app tailored to your brand.</span
								>
							</p>
						</div>
					</div>

					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 576 512"
								><path
									d="M400 96l0 .7c-5.3-.4-10.6-.7-16-.7H256c-16.5 0-32.5 2.1-47.8 6c-.1-2-.2-4-.2-6c0-53 43-96 96-96s96 43 96 96zm-16 32c3.5 0 7 .1 10.4 .3c4.2 .3 8.4 .7 12.6 1.3C424.6 109.1 450.8 96 480 96h11.5c10.4 0 18 9.8 15.5 19.9l-13.8 55.2c15.8 14.8 28.7 32.8 37.5 52.9H544c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32H512c-9.1 12.1-19.9 22.9-32 32v64c0 17.7-14.3 32-32 32H416c-17.7 0-32-14.3-32-32V448H256v32c0 17.7-14.3 32-32 32H192c-17.7 0-32-14.3-32-32V416c-34.9-26.2-58.7-66.3-63.2-112H68c-37.6 0-68-30.4-68-68s30.4-68 68-68h4c13.3 0 24 10.7 24 24s-10.7 24-24 24H68c-11 0-20 9-20 20s9 20 20 20H99.2c12.1-59.8 57.7-107.5 116.3-122.8c12.9-3.4 26.5-5.2 40.5-5.2H384zm64 136a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Cost-Effective Development:&nbsp;<span class="font-medium"
									>Forego the high costs of traditional app development agencies with our
									economical, risk-reduced partnership model.</span
								>
							</p>
						</div>
					</div>

					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 576 512"
								><path
									d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Expert Partnership:&nbsp;<span class="font-medium"
									>Benefit from a partnership with Ryan, a seasoned entrepreneur, software engineer,
									and Silicon Valley insider, ready to bring your app to life.</span
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="bg-brand_gray col-span-3 flex h-fit flex-col justify-between gap-4 space-y-4 rounded-xl border border-black px-4 py-2 shadow-inner shadow-black sm:col-span-1"
			>
				<h3
					id="retainer"
					class="grow text-balance text-xl font-bold leading-tight tracking-tight text-white lg:text-3xl"
				>
					Start Building Your Future Today
				</h3>

				<p class="flex items-baseline gap-x-1">
					<span class="text-xl font-bold tracking-tight text-white">$500</span>
				</p>
				<small class="grow text-base leading-snug text-gray-200">
					Ready to take the next step? Secure your partnership with a $500 retainer. This commitment
					marks the beginning of developing and scaling your custom branded app. Click below to
					proceed with your payment and embark on this exciting chapter for your brand.
				</small>
				<a
					href="https://book.stripe.com/5kA9AK84Ia9KcLu4gm"
					aria-describedby="retainer"
					class="block rounded-xl bg-white px-3 py-2 text-center text-lg font-semibold leading-6 text-background shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
				>
					Reserve your spot
				</a>
			</div>
		</div>
		<div
			class="sm:text-md col-span-3 grid h-auto grid-cols-phi gap-4 text-base leading-normal text-white lg:text-lg"
		>
			<div class="col-span-3 xs:col-span-1">
				<Image
					class="ml-auto aspect-square w-full rounded-xl object-contain sm:max-w-32"
					width={512}
					height={512}
					alt="Ryan Trainor"
					src={ryan}
				/>
			</div>
			<article
				class=" col-span-3 flex h-fit flex-col gap-4 rounded-xl border border-black px-4 py-2 text-base font-medium leading-snug text-gray-200 shadow-inner shadow-black xs:col-span-2"
			>
				<p>Hi, I'm Ryan!</p>
				<p>
					I founded RPTrainor to transform influencers into entrepreneurs. Icons like Logan Paul,
					MRBeast, and Joe Rogan have turned their audiences into successful enterprises, and you
					can too. With my background in launching successful apps, we can turn your influence into
					a thriving business.
				</p>
				<p>
					I'm eager to meet you and explore what we can create together. Let’s connect: <a
						href="mailto:ryan@rptrainor.com"
						class="cursor-pointer text-accent underline hover:text-contrast">ryan@rptrainor.com</a
					>
				</p>
			</article>
		</div>
	</GridContainer>
</Layout>
