---
import { Image } from 'astro:assets'

import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import ryan from '../components/ryan.jpeg'
---

<Layout
	title="RPTrainor Pricing – Invest in Your Branded App Today"
	description="Discover RPTrainor's straightforward pricing model: a $500 retainer to start building your personalized branded app, followed by a 30% equity share. We're committed to building and maintaining your app as your business grows. Explore how our partnership can elevate your brand."
>
	<GridContainer>
		<div class="col-span-3 col-start-1 row-start-1 w-full place-content-end">
			<div class="flex flex-col items-center text-center">
				<h1
					class="text-balance text-3xl font-bold leading-[1.1] tracking-tight text-white sm:text-5xl"
				>
					Simple, Transparent Partnership Terms
				</h1>
				<h2
					class="max-w-prose text-pretty pt-2 text-left text-xs font-semibold leading-tight text-gray-200 xs:pt-4 xs:text-lg sm:text-lg lg:text-xl"
				>
					Begin with a $500 retainer, and let's build your branded app together. We succeed when you
					do—our partnership continues with just a 30% equity share in your growing business,
					ensuring your app and brand reach their full potential.
				</h2>
			</div>
		</div>

		<div class="col-span-3 grid grid-cols-phi gap-4 p-0">
			<div class="col-span-3 flex flex-col gap-4 sm:col-span-2">
				<div class="flex items-center gap-x-4">
					<h4 class="flex-none text-xs font-semibold leading-6 text-white">What’s included</h4>
					<div class="h-px flex-auto bg-gray-100"></div>
				</div>
				<div class="space-y-4">
					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 512 512"
								><path
									d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Own Your Platform:&nbsp;<span class="font-medium"
									>Transition from influencer marketing deals to promoting your own business with a
									custom app that reflects your brand.</span
								>
							</p>
						</div>
					</div>

					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 576 512"
								><path
									d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Expert Partnership:&nbsp;<span class="font-medium"
									>Gain an experienced ally in app development and business strategy—a partner who
									is a seasoned business owner, software engineer, and Silicon Valley startup
									veteran.</span
								>
							</p>
						</div>
					</div>

					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg
								class="mt-1 h-6 w-6 fill-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 512 512"
								><path
									d="M320 96H192L144.6 24.9C137.5 14.2 145.1 0 157.9 0H354.1c12.8 0 20.4 14.2 13.3 24.9L320 96zM192 128H320c3.8 2.5 8.1 5.3 13 8.4C389.7 172.7 512 250.9 512 416c0 53-43 96-96 96H96c-53 0-96-43-96-96C0 250.9 122.3 172.7 179 136.4l0 0 0 0c4.8-3.1 9.2-5.9 13-8.4zm84 88c0-11-9-20-20-20s-20 9-20 20v14c-7.6 1.7-15.2 4.4-22.2 8.5c-13.9 8.3-25.9 22.8-25.8 43.9c.1 20.3 12 33.1 24.7 40.7c11 6.6 24.7 10.8 35.6 14l1.7 .5c12.6 3.8 21.8 6.8 28 10.7c5.1 3.2 5.8 5.4 5.9 8.2c.1 5-1.8 8-5.9 10.5c-5 3.1-12.9 5-21.4 4.7c-11.1-.4-21.5-3.9-35.1-8.5c-2.3-.8-4.7-1.6-7.2-2.4c-10.5-3.5-21.8 2.2-25.3 12.6s2.2 21.8 12.6 25.3c1.9 .6 4 1.3 6.1 2.1l0 0 0 0c8.3 2.9 17.9 6.2 28.2 8.4V424c0 11 9 20 20 20s20-9 20-20V410.2c8-1.7 16-4.5 23.2-9c14.3-8.9 25.1-24.1 24.8-45c-.3-20.3-11.7-33.4-24.6-41.6c-11.5-7.2-25.9-11.6-37.1-15l0 0-.7-.2c-12.8-3.9-21.9-6.7-28.3-10.5c-5.2-3.1-5.3-4.9-5.3-6.7c0-3.7 1.4-6.5 6.2-9.3c5.4-3.2 13.6-5.1 21.5-5c9.6 .1 20.2 2.2 31.2 5.2c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-6.5-1.7-13.7-3.4-21.1-4.7V216z"
								></path></svg
							>
						</div>
						<div class="ml-4">
							<p class="text-base font-bold leading-6 text-white lg:text-lg">
								Cost-Effective Development:&nbsp;<span class="font-medium"
									>Avoid the hefty upfront costs typically associated with hiring an app development
									agency by partnering with us for a more economical and risk-mitigated solution.</span
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="bg-brand_gray col-span-3 flex flex-col justify-between space-y-4 rounded-xl border border-black px-4 py-2 sm:col-span-1"
			>
				<h3
					id="retainer"
					class="grow text-balance text-xl font-bold leading-tight tracking-tight text-white lg:text-3xl"
				>
					Start Building Your Future Today
				</h3>

				<p class="flex items-baseline gap-x-1">
					<span class="text-xl font-bold tracking-tight text-white">$500</span>
				</p>
				<small class="grow text-base leading-snug text-gray-200">
					Ready to take the next step? Secure your partnership with a $500 retainer. This initial
					commitment begins the journey of building and growing your custom branded app. Click below
					to proceed with your payment and launch your brand's new chapter.
				</small>
				<a
					href="https://book.stripe.com/5kA9AK84Ia9KcLu4gm"
					aria-describedby="retainer"
					class="block rounded-xl bg-white px-3 py-2 text-center text-lg font-semibold leading-6 text-background shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
				>
					Reserve your spot
				</a>
			</div>
		</div>
		<div
			class="sm:text-md col-span-3 grid h-auto grid-cols-phi gap-4 text-base leading-normal text-white lg:text-lg"
		>
			<div class="col-span-3 xs:col-span-1">
				<Image
					class="ml-auto aspect-square w-full rounded-xl object-contain sm:max-w-32"
					width={512}
					height={512}
					alt="Ryan Trainor"
					src={ryan}
				/>
			</div>
			<article
				class="bg-brand_gray col-span-3 flex h-fit flex-col gap-4 rounded-xl border border-black px-4 py-2 xs:col-span-2"
			>
				<p>Hi, I'm Ryan!</p>
				<p>
					I founded RPTrainor with a clear mission: to build transformative businesses for
					influencers like you. Today's most successful influencers are more than content
					creators—they are entrepreneurs owning ventures like Logan Paul's Prime, MRBeast's
					Feastables, and Joe Rogan's Onnit. You have the audience, and with my experience in
					launching successful apps, together, we can turn your influence into a sustainable,
					thriving business.
				</p>
				<p>
					I'm excited to meet you! If you want to talk, please send me an email at <a
						href="mailto:ryan@rptrainor.com"
						class="cursor-pointer text-accent underline hover:text-contrast">ryan@rptrainor.com</a
					>
				</p>
			</article>
		</div>
	</GridContainer>
</Layout>
