---
import { Image } from 'astro:assets'

import PricingSwitch from '../components/PricingSwitch'
import Plans from '../components/Plans'
import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
import ryan from '../components/ryan.webp'
---

<Layout
	title="RPTrainor Pricing: Custom landing page solutions for every business need"
	description="Explore RPTrainor’s pricing options for consistent business growth. Choose our Build Only Service for a one-time creation of your landing page, or opt for our comprehensive Build + Manage Service that includes ongoing optimizations and managed ad campaigns to ensure a continuous flow of high-quality leads."
>
	<GridContainer>
		<div
			class="col-span-3 col-start-1 row-start-1 mx-auto flex w-full max-w-3xl flex-col place-content-end gap-4 sm:text-center"
		>
			<h2 class="text-balance text-center text-2xl font-bold tracking-tight text-white lg:text-4xl">
				Accelerate your business growth with done-for-you landing pages and managed ad campaign solutions.
			</h2>
			<div class="hidden sm:block">
				<PricingSwitch client:load />
			</div>
		</div>

		<div class="col-span-3 flex flex-col gap-y-4 p-0 sm:col-span-2 sm:col-start-1 sm:row-start-2">
			<h3 class="text-base leading-tight tracking-tight text-white hidden sm:block">
				Lead Generation Engine: Tailored Landing Pages and Managed Campaigns
			</h3>
			<div class="flex items-center gap-x-4">
				<h4 class="flex-none text-xs font-semibold leading-6 text-white">What’s included</h4>
				<div class="h-px flex-auto bg-gray-100"></div>
			</div>
			<div class="space-y-4">
				<div class="flex items-start">
					<div class="flex-shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 640 512"
							class="mt-1 h-6 w-6 fill-white"
							><path
								d="M144 160A80 80 0 1 0 144 0a80 80 0 1 0 0 160zm368 0A80 80 0 1 0 512 0a80 80 0 1 0 0 160zM0 298.7C0 310.4 9.6 320 21.3 320H234.7c.2 0 .4 0 .7 0c-26.6-23.5-43.3-57.8-43.3-96c0-7.6 .7-15 1.9-22.3c-13.6-6.3-28.7-9.7-44.6-9.7H106.7C47.8 192 0 239.8 0 298.7zM320 320c24 0 45.9-8.8 62.7-23.3c2.5-3.7 5.2-7.3 8-10.7c2.7-3.3 5.7-6.1 9-8.3C410 262.3 416 243.9 416 224c0-53-43-96-96-96s-96 43-96 96s43 96 96 96zm65.4 60.2c-10.3-5.9-18.1-16.2-20.8-28.2H261.3C187.7 352 128 411.7 128 485.3c0 14.7 11.9 26.7 26.7 26.7H455.2c-2.1-5.2-3.2-10.9-3.2-16.4v-3c-1.3-.7-2.7-1.5-4-2.3l-2.6 1.5c-16.8 9.7-40.5 8-54.7-9.7c-4.5-5.6-8.6-11.5-12.4-17.6l-.1-.2-.1-.2-2.4-4.1-.1-.2-.1-.2c-3.4-6.2-6.4-12.6-9-19.3c-8.2-21.2 2.2-42.6 19-52.3l2.7-1.5c0-.8 0-1.5 0-2.3s0-1.5 0-2.3l-2.7-1.5zM533.3 192H490.7c-15.9 0-31 3.5-44.6 9.7c1.3 7.2 1.9 14.7 1.9 22.3c0 17.4-3.5 33.9-9.7 49c2.5 .9 4.9 2 7.1 3.3l2.6 1.5c1.3-.8 2.6-1.6 4-2.3v-3c0-19.4 13.3-39.1 35.8-42.6c7.9-1.2 16-1.9 24.2-1.9s16.3 .6 24.2 1.9c22.5 3.5 35.8 23.2 35.8 42.6v3c1.3 .7 2.7 1.5 4 2.3l2.6-1.5c16.8-9.7 40.5-8 54.7 9.7c2.3 2.8 4.5 5.8 6.6 8.7c-2.1-57.1-49-102.7-106.6-102.7zm91.3 163.9c6.3-3.6 9.5-11.1 6.8-18c-2.1-5.5-4.6-10.8-7.4-15.9l-2.3-4c-3.1-5.1-6.5-9.9-10.2-14.5c-4.6-5.7-12.7-6.7-19-3l-2.9 1.7c-9.2 5.3-20.4 4-29.6-1.3s-16.1-14.5-16.1-25.1v-3.4c0-7.3-4.9-13.8-12.1-14.9c-6.5-1-13.1-1.5-19.9-1.5s-13.4 .5-19.9 1.5c-7.2 1.1-12.1 7.6-12.1 14.9v3.4c0 10.6-6.9 19.8-16.1 25.1s-20.4 6.6-29.6 1.3l-2.9-1.7c-6.3-3.6-14.4-2.6-19 3c-3.7 4.6-7.1 9.5-10.2 14.6l-2.3 3.9c-2.8 5.1-5.3 10.4-7.4 15.9c-2.6 6.8 .5 14.3 6.8 17.9l2.9 1.7c9.2 5.3 13.7 15.8 13.7 26.4s-4.5 21.1-13.7 26.4l-3 1.7c-6.3 3.6-9.5 11.1-6.8 17.9c2.1 5.5 4.6 10.7 7.4 15.8l2.4 4.1c3 5.1 6.4 9.9 10.1 14.5c4.6 5.7 12.7 6.7 19 3l2.9-1.7c9.2-5.3 20.4-4 29.6 1.3s16.1 14.5 16.1 25.1v3.4c0 7.3 4.9 13.8 12.1 14.9c6.5 1 13.1 1.5 19.9 1.5s13.4-.5 19.9-1.5c7.2-1.1 12.1-7.6 12.1-14.9v-3.4c0-10.6 6.9-19.8 16.1-25.1s20.4-6.6 29.6-1.3l2.9 1.7c6.3 3.6 14.4 2.6 19-3c3.7-4.6 7.1-9.4 10.1-14.5l2.4-4.2c2.8-5.1 5.3-10.3 7.4-15.8c2.6-6.8-.5-14.3-6.8-17.9l-3-1.7c-9.2-5.3-13.7-15.8-13.7-26.4s4.5-21.1 13.7-26.4l3-1.7zM472 384a40 40 0 1 1 80 0 40 40 0 1 1 -80 0z"
							></path></svg
						>
					</div>
					<div class="ml-4">
						<p class="text-base font-medium leading-6 text-white lg:text-lg">
							Expertly designed landing pages and lead magnets tailored by top industry professionals
						</p>
					</div>
				</div>

				<div class="flex items-start">
					<div class="flex-shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 448 512"
							class="mt-1 h-6 w-6 fill-white"
							><path
								d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"
							></path></svg
						>
					</div>
					<div class="ml-4">
						<p class="text-base font-medium leading-6 text-white lg:text-lg">
							Strategic growth through data-driven insights and analytics
						</p>
					</div>
				</div>

				<div class="flex items-start">
					<div class="flex-shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
							class="mt-1 h-6 w-6 fill-white"
							><path
								d="M216 64c-13.3 0-24 10.7-24 24s10.7 24 24 24h16v33.3C119.6 157.2 32 252.4 32 368H480c0-115.6-87.6-210.8-200-222.7V112h16c13.3 0 24-10.7 24-24s-10.7-24-24-24H256 216zM24 400c-13.3 0-24 10.7-24 24s10.7 24 24 24H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H24z"
							></path></svg
						>
					</div>
					<div class="ml-4">
						<p class="text-base font-medium leading-6 text-white lg:text-lg">
							Hassle-free campaign management for seamless lead conversion
						</p>
					</div>
				</div>

				<div class="flex items-start">
					<div class="flex-shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
							class="mt-1 h-6 w-6 fill-white"
							><path
								d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
							></path></svg
						>
					</div>
					<div class="ml-4">
						<p class="text-base font-medium leading-6 text-white lg:text-lg">
							Customized strategies to support your business's dynamic needs
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-span-3 rounded-md sm:col-span-1 sm:col-start-3 sm:row-start-2 bg-background">
			<div class="block pb-4 sm:hidden">
				<PricingSwitch client:load />
			</div>
			<Plans client:load />
		</div>

		<div class="col-span-full hidden sm:col-span-1 sm:col-start-1 sm:row-start-3 sm:block">
			<Image
				class="aspect-square rounded-md object-contain sm:ml-auto"
				width={100}
				alt="Ryan Trainor"
				src={ryan}
			/>
		</div>
		<article
			class="col-span-full text-white sm:col-span-2 sm:col-start-2 sm:row-start-3 h-auto rounded-md p-4 flex flex-col gap-2 sm:text-md text-base leading-normal lg:text-lg"
		>
				<div class="block sm:hidden">
					<Image
						class="aspect-square rounded-md object-contain"
						width={100}
						alt="Ryan Trainor"
						src={ryan}
					/>
				</div>
				<p>Hi, I'm Ryan!</p>
				<p>
					I founded RPTrainor because, while building a landing page is easy, creating one that converts is a challenge. Even before beginning my career as a software engineer, I was already launching my own businesses. And I remember how hard it was to get my ideas onto the screen. Expert-coded, interactive landing pages will always surpass any tool available today.
				</p>
				<p>
					I'm excited to meet you! Say "hi" at <a
						href="mailto:ryan@rptrainor.com?subject=👋&body=hi"
						class="cursor-pointer text-blue-600 underline hover:text-blue-500">ryan@rptrainor.com</a
					> or <a
						href="sms:+16127475815&body=👋"
						class="cursor-pointer text-blue-600 underline hover:text-blue-500">+1.612.747.5815</a
					>
				</p>
		</article>
	</GridContainer>
</Layout>
