---
import GridContainer from '../layouts/GridContainer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="How RPTrainor Works – Building Your Custom App from Concept to Launch"
	description="Discover how RPTrainor takes your influence and transforms it into a custom branded app. Our process starts with a $500 retainer, followed by detailed planning, development, and management, all for just a 30% equity share. Learn how we make your business success our mission."
>
	<GridContainer>
		<div class="col-span-3 col-start-1 row-start-1 w-full place-content-end">
			<h1
				class="mx-auto max-w-4xl text-balance text-left text-4xl font-bold tracking-tight text-white sm:text-center sm:text-5xl"
			>
				<span class="underline decoration-contrast">Do ad reads for your own business</span
				>,&nbsp;<br />not someone else's business
			</h1>
			<p class="mt-6 text-balance text-left text-lg leading-tight text-gray-300 sm:text-center">
				Today's most successful influencers are more than content creators—they are entrepreneurs
				owning ventures like Logan Paul's Prime, MRBeast's Feastables, and Joe Rogan's Onnit.
			</p>
		</div>

		<div class="col-span-3 col-start-1 row-start-2 flex flex-col gap-4">
			<div class="flex items-center justify-center gap-x-6">
				<a
					href="https://book.stripe.com/5kA9AK84Ia9KcLu4gm"
					aria-describedby="retainer"
					class="rounded-xl bg-white px-3.5 py-2.5 text-sm font-semibold text-background shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast"
					>Start Your Project Now</a
				>
				<a
					href="/pricing"
					class="rounded-xl bg-none px-3.5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:animate-hover-pop hover:bg-white/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast"
					>Learn about pricing <span aria-hidden="true">→</span></a
				>
			</div>
			<p
				class="mt-auto text-balance text-left text-3xl font-bold tracking-tight text-white sm:text-center sm:text-4xl"
			>
				Our Simple Process to Your Success
			</p>
		</div>

		<div class="col-span-3 col-start-1 row-start-3">
			<dl class="grid gap-4 sm:grid-cols-3">
				<div
					class="bg-brand_gray flex flex-col rounded-xl border border-black px-4 py-2 shadow-inner shadow-black"
				>
					<dt class="text-base font-semibold leading-7 text-gray-100">
						<div
							class="mb-6 flex h-10 w-10 items-center justify-center rounded-xl border border-black bg-contrast"
						>
							<svg
								class="h-6 w-6 text-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 256 512"
								><path
									d="M160 64c0-11.8-6.5-22.6-16.9-28.2s-23-5-32.8 1.6l-96 64C-.5 111.2-4.4 131 5.4 145.8s29.7 18.7 44.4 8.9L96 123.8V416H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H160V64z"
								></path></svg
							>
						</div>
						Initial Engagement:
					</dt>
					<dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400">
						<p class="flex-auto">
							Kick off your new business with a personalized consultation by Ryan, RPTrainor’s
							founder. A $500 retainer sets the stage for a deep dive into potential business models
							and tech strategies designed around your unique audience.
						</p>
					</dd>
				</div>
				<div
					class="bg-brand_gray flex flex-col rounded-xl border border-black px-4 py-2 shadow-inner shadow-black"
				>
					<dt class="text-base font-semibold leading-7 text-gray-100">
						<div
							class="mb-6 flex h-10 w-10 items-center justify-center rounded-xl border border-black bg-contrast"
						>
							<svg
								class="h-6 w-6 text-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 320 512"
								><path
									d="M142.9 96c-21.5 0-42.2 8.5-57.4 23.8L54.6 150.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L40.2 74.5C67.5 47.3 104.4 32 142.9 32C223 32 288 97 288 177.1c0 38.5-15.3 75.4-42.5 102.6L109.3 416H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9L200.2 234.5c15.2-15.2 23.8-35.9 23.8-57.4c0-44.8-36.3-81.1-81.1-81.1z"
								></path></svg
							>
						</div>
						Development Proposal:
					</dt>
					<dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400">
						<p class="flex-auto">
							Receive a customized proposal outlining how we’ll develop and manage your new
							business. Using cutting-edge technology, we craft a platform that taps into your
							audience’s potential and maximizes revenue.
						</p>
					</dd>
				</div>
				<div
					class="bg-brand_gray flex flex-col rounded-xl border border-black px-4 py-2 shadow-inner shadow-black"
				>
					<dt class="text-base font-semibold leading-7 text-gray-200">
						<div
							class="mb-6 flex h-10 w-10 items-center justify-center rounded-xl border border-black bg-contrast"
						>
							<svg
								class="h-6 w-6 text-white"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 320 512"
								><path
									d="M0 64C0 46.3 14.3 32 32 32H272c13.2 0 25 8.1 29.8 20.4s1.5 26.3-8.2 35.2L162.3 208H184c75.1 0 136 60.9 136 136s-60.9 136-136 136H105.4C63 480 24.2 456 5.3 418.1l-1.9-3.8c-7.9-15.8-1.5-35 14.3-42.9s35-1.5 42.9 14.3l1.9 3.8c8.1 16.3 24.8 26.5 42.9 26.5H184c39.8 0 72-32.2 72-72s-32.2-72-72-72H80c-13.2 0-25-8.1-29.8-20.4s-1.5-26.3 8.2-35.2L189.7 96H32C14.3 96 0 81.7 0 64z"
								></path></svg
							>
						</div>
						Partnership and Launch:
					</dt>
					<dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400">
						<p class="flex-auto">
							With your approval, we get down to business. Ryan leads the charge in building,
							deploying, and managing your venture, where you hold a 70% equity stake. It's not just
							about promoting—it's about owning and thriving.
						</p>
					</dd>
				</div>
			</dl>
		</div>
	</GridContainer>
</Layout>
