---
import AstroImage from '~/layouts/AstroImage.astro'
import cornerstone_scores from '~/features/why_section/cornerstone_scores.webp'
---

<div class="overflow-hidden">
	<div class="mx-auto">
		<div
			class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-7xl lg:grid-cols-2"
		>
			<div class="col-span-1 px-0 md:px-8 lg:px-0 lg:pt-4">
				<div class="">
					<h2 class="text-4xl font-bold leading-tight">Why Choose RPTrainor?</h2>
					<dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-white/60 lg:max-w-none">
						<div class="relative pl-9">
							<dt class="inline font-semibold text-white">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512"
									class="absolute left-1 top-1 h-5 w-5 fill-brand_yellow text-brand_yellow"
									><path
										d="M349.4 44.6c5.9-13.7 1.5-29.7-10.6-38.5s-28.6-8-39.9 1.8l-256 224c-10 8.8-13.6 22.9-8.9 35.3S50.7 288 64 288H175.5L98.6 467.4c-5.9 13.7-1.5 29.7 10.6 38.5s28.6 8 39.9-1.8l256-224c10-8.8 13.6-22.9 8.9-35.3s-16.6-20.7-30-20.7H272.5L349.4 44.6z"
									></path></svg
								>
								Speed Sells
							</dt>
							<dd class="inline">
								Instantly loading pages reduce bounce rates and fuel purchases, directly boosting
								revenue.
							</dd>
						</div>
						<div class="relative pl-9">
							<dt class="inline font-semibold text-white">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 488 512"
									class="absolute left-1 top-1 h-5 w-5 fill-brand_yellow text-brand_yellow"
									><path
										d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
									></path></svg
								>
								Be Seen, Earn More
							</dt>
							<dd class="inline">
								Top search rankings drive traffic and sales, increasing your bottom line.
							</dd>
						</div>
						<div class="relative pl-9">
							<dt class="inline font-semibold text-white">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 320 512"
									class="absolute left-1 top-1 h-5 w-5 fill-brand_yellow text-brand_yellow"
									><path
										d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"
									></path></svg
								>
								Clicks to Customers
							</dt>
							<dd class="inline">
								High-converting design turns visitors into revenue, elevating your profit.
							</dd>
						</div>
					</dl>
				</div>
			</div>
			<AstroImage
				src={cornerstone_scores}
				alt="Google Lighthouse scores for Cornerstone. Speed: 100, Accessibility: 100, Best Practices: 100, SEO: 100, PWA: 100."
				class="col-span-1 w-[48rem] rounded-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
				width={512}
			/>
		</div>
	</div>
</div>
