---
import ScreenShot from '../../features/hero_section/ScreenShot.astro'
---
<p class="italic font-medium text-brand_yellow text-center">Struggling To Get More Customers with your "No Code" tools?</p>
<h1>Boost Conversions with Straight 100 Scores on Google Lighthouse</h1>
<ScreenShot />
<!-- <p class="text-center">
  Escalating Your Website Beyond 'No Code' Limits: Converting Visitors to Devoted Buyers Through
  Superior Landing Page Optimization
</p> -->
<div class="sticky top-0 flex w-full items-center justify-center bg-brand_black">
  <a
    href="mailto:ryan@rptrainor.com"
    aria-label="Email ryan at ryan@rptrainor.com"
    class="inline-flex items-center justify-center gap-x-2 rounded-md bg-brand_pink px-3.5 py-2.5 font-black text-brand_black shadow transition-all hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand_pink"
  >
    <p class="flex flex-nowrap items-center gap-1 font-medium text-center">
      Increase Your Webpage Conversions Today
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"></path>
      </svg>
    </p>
  </a>
</div>