---
export const prerender = true

import ScreenShot from '~/features/hero_section/ScreenShot.astro'
---

<div class="mx-auto flex flex-col items-center">
	<p
		style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
		class="mx-auto mt-4 text-pretty text-center font-bold italic text-brand_yellow sm:mt-16 md:text-xl lg:text-3xl"
	>
		Struggling To Get More Customers with your "No Code" tools?
	</p>
	<h1
		style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
		class="text-center text-4xl font-black leading-tight text-white sm:text-8xl"
	>
		Increase Conversions
	</h1>
	<p
		style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
		class="text-pretty py-4 text-center font-bold text-white leading-snug text-base sm:text-lg md:text-2xl lg:text-4xl"
	>
		Improve Your "No Code" Pages with Perfect 100 Google Lighthouse Scores or Your Money Back
	</p>
	<ScreenShot />
</div>
