---
import ScreenShot from '../../features/hero_section/ScreenShot.astro'
---

<div>
	<p
		class="handwritten text-pretty text-center text-lg font-medium text-brand_yellow sm:text-4xl"
	>
		Struggling To Get More Customers<br /> with your "No Code" tools?
	</p>
	<h1 class="text-3xl font-black leading-tight sm:text-8xl">Increase Conversions</h1>
	<ScreenShot />
	<p class="text-center text-lg font-bold leading-snug sm:text-4xl py-4">
		Transform Your Site with Perfect 100 Google Lighthouse Scores or Your Money Back
	</p>
	<div class="sticky top-0 flex w-full items-center justify-center bg-brand_black">
		<a
			href="mailto:ryan@rptrainor.com"
			aria-label="Email ryan at ryan@rptrainor.com"
			class="inline-flex items-center justify-center gap-x-2 rounded-md bg-brand_pink px-3.5 py-2.5 font-black text-brand_black shadow transition-all hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand_pink"
		>
			<p class="flex flex-nowrap items-center gap-1 text-center font-black sm:text-2xl text-lg">
				Get Your Perfect Score
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-6 w-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
				</svg>
			</p>
		</a>
	</div>
	<div class="flex w-full flex-nowrap items-center justify-center gap-4 pt-8">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="3"
			stroke="currentColor"
			class="h-12 w-12 animate-bounce"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
		</svg>
	</div>
</div>
