---
import ScreenShot from '../../features/hero_section/ScreenShot.astro'
export const prerender = true
---

<div class="mx-auto flex flex-col items-center">
    <p style="font-family: 'Delicious Handrawn', fallback-font, sans-serif;" class="mx-auto text-4xl text-pretty text-brand_yellow text-center italic font-handrawn">Struggling To Get More Customers<br/>with your "No Code" tools?</p>
    <h1 style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"  class="text-4xl font-black leading-tight sm:text-8xl text-center text-white">Increase Conversions</h1>
    <ScreenShot />
    <p style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"  class="text-pretty py-4 text-center text-lg font-bold leading-snug sm:text-4xl text-white">
        Transform Your "No Code" Pages with Perfect 100 Google Lighthouse Scores<br />or Your Money Back
    </p>
</div>
