---
import ScreenShot from '../../features/hero_section/ScreenShot.astro'
---

<div class="max-w-4xl mx-auto">
	<p
		class="font-Handrawn mx-auto text-pretty text-center text-4xl font-medium italic leading-snug text-brand_yellow"
	>
		Struggling To Get More Customers<br /> with your "No Code" tools?
	</p>
	<h1 class="text-4xl sm:text-8xl font-black leading-tight">Increase Conversions</h1>
	<ScreenShot />
	<p class="text-pretty py-4 text-center text-lg font-bold leading-snug sm:text-4xl">
		Transform Your "No Code" Pages with Perfect 100 Google Lighthouse Scores<br />or Your Money Back
	</p>
</div>
