<div class="flex max-w-prose flex-col gap-4 p-4 md:p-8">
	<div class="flex flex-col gap-4">
		<section>
			<h2
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-3xl font-semibold"
			>
				Who we help:
			</h2>
			<p
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-lg leading-relaxed"
			>
				We help online business owners who have outgrown their existing sales funnels built with “no
				code” or “low code” tools, and want to increase their conversions and sales by aiming for
				optimal performance and conversion rates.
			</p>
		</section>
		<section>
			<h2
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-3xl font-semibold"
			>
				Our Promise:
			</h2>
			<p
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-lg leading-relaxed"
			>
				Outshine your competition with professionally engineering landing pages that deliver speed,
				performance, and analytics ‘no code’ tools can’t match. Trust us to improve your conversions
				and sales in 60 days, or claim a full refund.
			</p>
		</section>
		<section>
			<h2
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-3xl font-semibold"
			>
				Our Strategy:
			</h2>
			<ol>
				<li>
					<p
						style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
						class="mb-4 text-lg leading-relaxed"
					>
						Audit your existing landing pages, define what is the one conversion that your business
						wants to optimize for, and craft language that has a variety of options for messaging
						that we can easily A/B test.
					</p>
				</li>
				<li>
					<p
						style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
						class="mb-4 text-lg leading-relaxed"
					>
						Code your landing page by hand to ensure that every line is highly optimized, this
						results in near perfect 100 scores for speed, accessibility, best practices, and SEO,
						from Google Core Web Vitals test. These optimizations are proven to increase
						conversions, as users who have a better experience on your page are more likely to
						convert on your page. Also this will increase your organic traffic as well, because
						Google ranks pages that get top Core Web Vitals scores better than pages that don't.
					</p>
				</li>
				<li>
					<p
						style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
						class="mb-4 text-lg leading-relaxed"
					>
						Install the state of the art analytics tracking tools available today. Not only will you
						be able to see where all your page traffic comes from, you will be able to run A/B
						tests, run feature flag experiments, ask questions and get feedback from live visitors
						on your page, and even see video recordings of where visitors to your page are scrolling
						and looking.
					</p>
				</li>
			</ol>
		</section>
		<section>
			<h2
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-3xl font-semibold"
			>
				Our Guarantee:
			</h2>
			<p
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-lg leading-relaxed"
			>
				Our make your money back, or get your money back guarantee, promises that within 60 days we
				will increase your conversions so much that your sales will increase by more than the cost
				of our services. If your conversions don’t increase beyond this level, we give you a full
				refund and you can keep the sales funnels we created for you.
			</p>
			<p
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-lg leading-relaxed"
			>
				If you work with us, you’ll either pull ahead of your competitors still using no code tools,
				boost your sales funnel conversions, and ultimately make more money. Or, you learn a ton of
				information about what pages your customers like and don’t like, get 60 days of free
				analytics insights, optimized messaging, and sales funnels hand coded by an experienced
				professional Software Engineer — for free.
			</p>
			<p
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="mb-4 text-lg leading-relaxed"
			>
				Think of this as the Engineering and Marketing departments that your competition can’t
				afford — and you can’t afford to spend another day without.
			</p>
		</section>
	</div>
</div>
