---
export const prerender = true
import trustpilot from 'src/features/hero_section/trustpilot_75.png'
import TPLogoTricolorWhiteRGB from 'src/features/hero_section/TP-Logo-Tricolor-White-RGB.svg'
import { Image } from 'astro:assets'
---

<div
	style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
	class="flex w-52 flex-row items-center gap-1 text-sm sm:text-base font-black text-white relative"
>
	<p>Excelent</p>
	<Image 
	src={trustpilot} 
	alt="Trustpilot Logo" 
  widths={[380, 540, 720, trustpilot.width]}
  sizes={`(max-width: 360px) 380px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${trustpilot.width}px`}
  
	/>
	<p>on</p>
	<Image src={TPLogoTricolorWhiteRGB} alt="Trustpilot Logo" width="60" />
</div>
