---
export const prerender = true
---

<a
  href={Astro.props.link}
  target="_blank" rel="noopener noreferrer"
	class="isolate flex h-full w-[70vw] xs:w-[66vw] max-h-full max-w-sm flex-none flex-col items-center justify-center text-ellipsis text-balance rounded-xl border bg-white/5 px-4 text-center leading-snug text-base text-white ring-1 ring-gray-800 transition-colors hover:bg-white/20 sm:text-xl aspect-video"
>
	{Astro.props.title}
</a>
