---
import { YouTube } from '@astro-community/astro-embed-youtube'
---
<div class="col-span-3 col-start-1 row-start-2 flex place-items-end justify-center">
  <YouTube id="jqpJQUmsCQA" class="aspect-video h-full w-full" />
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const playButtons = document.querySelectorAll('lite-youtube a.lty-playbtn')
		playButtons.forEach((button) => {
			if (button instanceof HTMLAnchorElement && !button.href) {
				button.href = 'https://youtube.com/watch?v=jqpJQUmsCQA'
			}
		})
	})
</script>