---
import { Image } from 'astro:assets'

import ryan from '../components/ryan.jpeg'
---

<h1
	class="col-span-2 place-content-end text-balance px-4 text-left text-2xl font-bold leading-tight tracking-tight text-white lg:text-5xl xs:text-3xl short:text-base extra-short:col-span-2 tall:text-4xl"
>
	Meet the Founder
</h1>
<Image
	class="place-conent-end col-start-3 row-start-1 mt-auto aspect-square w-full max-w-40 rounded-xl object-contain p-0 short:h-16 short:w-16 extra-short:col-span-1 extra-short:col-start-3 extra-short:h-14 extra-short:w-14"
	width={512}
	height={512}
	alt="Ryan Trainor"
	src={ryan}
/>
<article
	class="col-span-3 flex h-fit flex-col gap-4 rounded-xl border border-black px-4 py-2 text-base font-medium leading-snug text-gray-200 shadow-inner shadow-black xs:col-span-2 extra-short:gap-2 extra-short:text-xs tall:gap-6 tall:rounded-2xl tall:border-2 tall:px-6 tall:py-4 tall:text-lg"
>
	<p class="block extra-short:hidden">Hi, I'm Ryan!</p>
	<p>
		I founded RPTrainor to transform creators into entrepreneurs. Icons like Logan Paul, MRBeast,
		and Joe Rogan have turned their audiences into successful enterprises, and you can too. With my
		background in launching successful apps, we can turn your influence into a thriving business.
	</p>
	<p>
		I'm eager to meet you and explore what we can create together. Let’s connect: <a
			href="mailto:ryan@rptrainor.com"
			class="cursor-pointer text-accent underline hover:text-contrast">ryan@rptrainor.com</a
		>
	</p>
</article>
