---
const posthog = import('posthog-js').then((module) => {
  const posthog = module.default;
  // Initialize PostHog with your project API key and configuration
  posthog.init('phc_zNb4WiofibhVaL5DbrRrUBKwAWDZsH1OlkRB1iQSO3O', {
    api_host: 'https://app.posthog.com',
  });
});
---

<div hidden></div>
