---
// import Header from './Header.astro'
// import Footer from '../layouts/Footer.astro'
---

<div
	class="grid grid-cols-phi-middle grid-rows-phi-middle snap-center h-screen w-screen min-h-screen"
>
	<slot />
</div>
