---
// import Header from './Header.astro'
// import Footer from '../layouts/Footer.astro'
---

<div
	class="grid h-full grid-cols-phi-middle grid-rows-phi-middle snap-center"
>
	<!-- <Header /> -->
	<slot />
	<!-- <Footer /> -->
</div>
