---
import Logo from '../components/Logo.astro'

export const prerender = true
---

<header class="absolute inset-x-0 top-0 z-50">
	<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
		<div class="flex lg:flex-1">
			<Logo />

			<!-- <a href="#" class="-m-1.5 p-1.5">
				<span class="sr-only">Your Company</span>
				<img
					class="h-8 w-auto"
					src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
					alt=""
				/>
			</a> -->
		</div>
		<!-- <div class="flex lg:hidden">
			<button
				type="button"
				class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
			>
				<span class="sr-only">Open main menu</span>
				<svg
					class="h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					aria-hidden="true"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
			</button>
		</div> -->
		<div class="flex gap-x-4 md:gap-x-8 lg:gap-x-12">
			<a href="/process" class="text-sm font-semibold leading-6 text-white rounded-xl bg-none hover:bg-white/20 px-3.5 py-2.5 shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast">Process</a>
			<a href="/pricing" class="text-sm font-semibold leading-6 text-white rounded-xl bg-none hover:bg-white/20 px-3.5 py-2.5 shadow-sm hover:animate-hover-pop focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-contrast">Pricing</a>
		</div>
	</nav>
</header>
<!-- <nav
	class="absolute left-0 right-0 top-0 z-10 mx-auto flex max-w-7xl justify-between gap-4 p-4 text-white"
>
	<Logo />
	<span class="grow" />

	<a
		aria-label="Go to the pricing page"
		href="/pricing"
		class="flex flex-nowrap items-center gap-1 transition-all hover:animate-hover-pop hover:rounded-xl hover:bg-white/20 px-1"
	>
		<p
			style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
			class="block text-base font-black leading-none md:text-lg"
		>
			Pricing
		</p>
	</a>
</nav> -->
