---
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Montserrat Variable", sans-serif;
    background: #13151a;
    color: #fff;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    min-width: 0;
  }
  body {
    line-height: 1;
    font-style: normal;
    transition: font-size 0.3s ease-out;
    font-weight: 700;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-size: 18px; /* Base font size for mobile */
  }

  h1 {
    font-size: 1.67rem; /* Scaled up from 18px */
    scroll-margin: 5rem /* 80px */;
    line-height: 2.5rem /* 40px */;
    font-weight: 800;
    letter-spacing: -0.025em;
    overflow-wrap: break-word;
    text-align: center;
    @media (min-width: 1024px) {
      line-height: 1;
    }
  }

  h2 {
    font-size: 1.39rem; /* Scaled up from 18px */
    scroll-margin: 5rem /* 80px */;
    padding-bottom: 0.5rem /* 8px */;
    line-height: 2.25rem /* 36px */;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-top: 0px;
  }

  h3 {
    font-size: 1.25rem; /* Scaled up from 18px */
    scroll-margin: 5rem /* 80px */;
    line-height: 2rem /* 32px */;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  h4 {
    font-size: 1.11rem; /* Scaled up from 18px */
    scroll-margin: 5rem /* 80px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  p {
    line-height: 1.75rem /* 28px */;
    max-width: 65ch;
  }

  /* Tablet screen sizes */
  @media (min-width: 768px) {
    h1 {
      font-size: 2.22rem; /* Scaled up for tablet */
    }

    h2 {
      font-size: 1.94rem; /* Scaled up for tablet */
    }

    h3 {
      font-size: 1.67rem; /* Scaled up for tablet */
    }

    h4 {
      font-size: 1.39rem; /* Scaled up for tablet */
    }
  }

  /* Desktop screen sizes */
  @media (min-width: 1024px) {
    h1 {
      font-size: 2.78rem; /* Scaled up for desktop */
    }

    h2 {
      font-size: 2.22rem; /* Scaled up for desktop */
    }

    h3 {
      font-size: 1.94rem; /* Scaled up for desktop */
    }

    h4 {
      font-size: 1.67rem; /* Scaled up for desktop */
    }
  }
</style>
