<div class="">
	<div class="">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
				Where 'No Code' Ends,<br />RPTRAINOR Excellence Begins
			</h2>
			<p class="mt-2 text-xl leading-8">
				Unlock the full potential of your website with<br />perfect Google Lighthouse scores.
			</p>
		</div>
		<div
			class="mx-auto mt-8 grid w-full auto-rows-fr grid-cols-1 gap-x-4 gap-y-12 md:mx-0 md:mt-20 md:grid-cols-2 md:gap-x-8 md:px-8 lg:gap-x-32 lg:px-0"
		>
			<!-- START BOX -->
			<section class="flex flex-col gap-4">
				<h2 class="w-full text-center text-4xl">Without<br />RPTRAINOR</h2>
				<ul class="ml-4 flex list-image-[url('/down.svg')] flex-col items-start gap-2 text-xl">
					<li class="pl-2">Limited Customization</li>
					<li class="pl-2">Slower Load Times</li>
					<li class="pl-2">Suboptimal SEO</li>
					<li class="pl-2">Reduced Mobile Responsiveness</li>
					<li class="pl-2">Dependency on Platforms</li>
				</ul>
			</section>
			<!-- END BOX -->
			<!-- START BOX -->
			<section class="flex flex-col gap-4">
				<h2 class="w-full text-center text-4xl">With<br />RPTRAINOR</h2>
				<ul
					class="ml-4 flex list-image-[url('/up.svg')] flex-col items-start gap-2 text-xl leading-snug"
				>
					<li class="pl-2">Enhanced User Experience</li>
					<li class="pl-2">Faster Load Times</li>
					<li class="pl-2">Improved SEO Ranking</li>
					<li class="pl-2">Optimal Mobile Performance</li>
					<li class="pl-2">Technical Excellence</li>
				</ul>
			</section>
			<!-- END BOX -->
		</div>
	</div>
</div>
