<div class="">
	<div class="">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Where 'No Code' Ends,<br/>RPTRAINOR Excellence Begins</h2>
			<p class="mt-2 text-xl leading-8">
				Unlock the full potential of your website with<br/>perfect Google Lighthouse scores.
			</p>
		</div>
		<div
			class="mx-auto mt-8 grid w-full auto-rows-fr grid-cols-1 gap-x-4 md:px-8 lg:px-0 gap-y-12 md:mx-0 md:mt-20 md:grid-cols-2 md:gap-x-8 lg:gap-x-16"
		>
			<!-- START BOX -->
			<section class="flex flex-col gap-4">
				<h2 class="w-full text-center text-4xl">Without<br/>RPTRAINOR</h2>
				<ul class="ml-4 flex list-image-[url('/down.svg')] flex-col items-start gap-2 text-xl">
					<li class="pl-2">
						Limited Customization: Restricts unique, conversion-optimized designs.
					</li>
					<li class="pl-2">
						Slower Load Times: Increases bounce rates, decreasing potential sales.
					</li>
					<li class="pl-2">Suboptimal SEO: Lowers visibility, reducing site traffic.</li>
					<li class="pl-2">
						Reduced Mobile Responsiveness: May alienate mobile users, losing potential conversions.
					</li>
					<li class="pl-2">
						Dependency on Platforms: Policy or pricing changes can disrupt revenue.
					</li>
				</ul>
			</section>
			<!-- END BOX -->
			<!-- START BOX -->
			<section class="flex flex-col gap-4">
				<h2 class="w-full text-center text-4xl">With<br/>RPTRAINOR</h2>
				<ul class="ml-4 flex list-image-[url('/up.svg')] flex-col items-start gap-2 text-xl leading-snug">
					<li class="pl-2">
						Enhanced User Experience: Seamless interaction boosts engagement and conversions.
					</li>
					<li class="pl-2">
						Faster Load Times: Quick page loads directly increase conversion rates.
					</li>
					<li class="pl-2">Improved SEO Ranking: Higher visibility brings more organic traffic.</li>
					<li class="pl-2">
						Optimal Mobile Performance: Ensures accessibility for all users, enhancing mobile
						conversions.
					</li>
					<li class="pl-2">
						Technical Excellence: Establishes credibility, fostering customer loyalty and repeat
						business.
					</li>
				</ul>
			</section>
			<!-- END BOX -->
		</div>
	</div>
</div>
