---
export const prerender = true
---

<div class="mx-auto max-w-2xl text-center">
	<h2
		style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
		class="text-pretty text-3xl font-bold tracking-tight text-white sm:text-4xl"
	>
		Where 'No Code' Ends,<br />RPTrainor Excellence Begins
	</h2>
	<p
		style="font-family: 'Delicious Handrawn', fallback-font, sans-serif;"
		class="mt-2 text-pretty text-xl italic leading-8 text-brand_yellow font-handrawn"
	>
		Unlock the full potential of your website with<br />perfect Google Lighthouse scores.
	</p>
</div>
<div
	class="mx-auto mt-8 grid w-full auto-rows-fr grid-cols-1 gap-x-4 gap-y-12 md:mx-0 md:mt-20 md:grid-cols-2 md:gap-x-8 md:px-8 lg:gap-x-32 lg:px-0"
>
	<!-- START BOX -->
	<section class="flex flex-col gap-4">
		<h2
			style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
			class="w-full text-center text-4xl font-bold text-brand_blue"
		>
			Without<br />RPTrainor
		</h2>
		<ul
			class="ml-4 flex list-image-[url('/icons/down.svg')] flex-col items-start gap-2 text-xl text-white"
		>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Limited Customization
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Slower Load Times
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Suboptimal SEO
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Reduced Mobile Responsiveness
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Dependency on Platforms
			</li>
		</ul>
	</section>
	<!-- END BOX -->
	<!-- START BOX -->
	<section class="flex flex-col gap-4">
		<h2
			style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
			class="w-full text-center text-4xl font-bold text-brand_yellow"
		>
			With<br />RPTrainor
		</h2>
		<ul
			class="ml-4 flex list-image-[url('/icons/up.svg')] flex-col items-start gap-2 text-xl leading-snug text-white"
		>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Enhanced User Experience
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Faster Load Times
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Improved SEO Ranking
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Optimal Mobile Performance
			</li>
			<li
				style="font-family: 'Montserrat', 'Montserrat Variable', sans-serif;"
				class="pl-2 font-semibold"
			>
				Technical Excellence
			</li>
		</ul>
	</section>
	<!-- END BOX -->
</div>
